In [20]:
import syft as sy

In [21]:
sy.networks

In [22]:
omnet = sy.networks[1]
omnet.domains

Connecting to http://13.64.14.221... done! 	 Logging into united_nations_mock... as GUEST...done!

In [26]:
ca = omnet.domains[5].login(email="sheldon@caltech.edu", password="bazinga")

Logged in to california as sheldon@caltech.edu

In [24]:
ny = omnet.domains[6].login(email="sheldon@caltech.edu", password="bazinga")

Logged in to new_york as sheldon@caltech.edu

In [28]:
ca.privacy_budget

500.0

In [29]:
ny.privacy_budget

500.0

In [30]:
ca.datasets

In [31]:
ny.datasets

In [32]:
ca.datasets[-1]

Dataset: Toy California Medical Dataset
Description: Some numbers relating to a medical patient

In [33]:
ny.datasets[-1]

Dataset: Toy New York Medical Dataset
Description: Some numbers relating to a medical patient

In [34]:
ca_data = ca.datasets[-1]['Medical Record']

In [49]:
ca_data.request(reason="I'd like to download the dataset for visual inspection")

In [50]:
ca_data.get()

Tensor(child=SingleEntityPhiTensor(entity=Patient #1, child=[ 2  4  6  8 10]))

In [35]:
ny_data = ny.datasets[-1]['Medical Record']

In [52]:
ny_data

array([4, 9, 7, 1, 2], dtype=int32)

 (The data printed above is synthetic - it's an imitation of the real data.)

In [51]:
ny_data.get()

[2021-11-10T19:55:03.633091+0000][CRITICAL][logger]][83234] UnknownPrivateException has been triggered.

UnknownPrivateException: UnknownPrivateException has been triggered.

In [40]:
private_result = ca_data + ny_data

[2021-11-10T19:32:51.191768+0000][CRITICAL][logger]][83234] 'Class' object has no attribute 'generate_przs_on_dp_tensor'
[2021-11-10T19:32:52.202079+0000][CRITICAL][logger]][83234] 'Class' object has no attribute 'generate_przs_on_dp_tensor'
[2021-11-10T19:32:53.232955+0000][CRITICAL][logger]][83234] 'Class' object has no attribute 'generate_przs_on_dp_tensor'
[2021-11-10T19:32:54.236745+0000][CRITICAL][logger]][83234] 'Class' object has no attribute 'generate_przs_on_dp_tensor'

In [39]:
# private_result.get()

In [45]:
public_result = private_result.publish(sigma=2)

In [46]:
public_result.get()

array([ 1,  1, 13, 15, 21], dtype=int32)

In [47]:
ny.privacy_budget

135.02114795702863

In [48]:
ca.privacy_budget

135.02114795702863